In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("CH4_Flux_BigTrail_Goldstream_AK.csv")

In [4]:
print(df
     )

     plot_id lake_id   latitude   longitude        date  methane  flux_error  \
0          1     BTL  64.918932 -147.821570  2018-07-21   0.5004      0.0288
1          2     BTL  64.918917 -147.821600  2018-07-21   0.9305      0.0529
2          3     BTL  64.918896 -147.821546  2018-07-21   1.5023      0.0892
3          4     BTL  64.918912 -147.821453  2018-07-21   0.1884      0.0122
4          5     BTL  64.918889 -147.821389  2018-07-21   0.1751      0.0093
..       ...     ...        ...         ...         ...      ...         ...
195      196     GSL  64.915340 -147.850100  2018-07-29   1.3512      0.0793
196      197     GSL  64.915320 -147.850120  2018-07-29  -0.1639      0.0125
197      198     GSL  64.915310 -147.850200  2018-07-29  -0.0717      0.0043
198      199     GSL  64.915289 -147.850202  2018-07-29  -0.0062      0.0005
199      200     GSL  64.915257 -147.850236  2018-07-29  -0.0082      0.0006

     distance_from_water  distance_error
0                    0.0             0.0
1                    0.0             0.0
2                    3.9             1.5
3                    2.7             1.5
4                   10.9             1.5
..                   ...             ...
195                  6.7             1.5
196                  9.1             1.5
197                 12.6             1.5
198                 14.3             1.5
199                 18.1             1.5

[200 rows x 9 columns]

In [5]:
print(df["methane"].max())

33.523

In [6]:
print(df[["methane", "date"]].max())

methane        33.523
date       2018-07-29
dtype: object